
[Unit]
Description=Execute this on boot
Requires=docker.service
After=docker.service

[Service]
ExecStart=/usr/bin/docker start -a jetson
ExecStop=/usr/bin/docker stop -t 2 jetson
Restart=always
User=camera_boot

[Install]
WantedBy=multi-user.target
